auto-install-peers=true
engine-strict=true
fund=false
legacy-peer-deps=true
message="release: %s"
progress=false
save-exact=true
shamefully-hoist=true
sign-git-tag=true
tag-version-prefix="releases/"
update-notifier=false